/* MAIN ELEMENTS */

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}

h1 {
    color: #004d96;
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    color: #004d96;
    font-family: "Montserrat";
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 2.625rem;
    margin-bottom: 1.5rem;
}

h3 {
    color: #474840;
    font-family: "Montserrat";
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-bottom: 1.25rem;
}

a {
    line-height: inherit;
    color: #bc4418;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dotted #afafaf;
    background-color: transparent;
}

p {
    margin-bottom: 2rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

li {
    font-size: inherit;
}

.site-wrapper {
    overflow: scroll;
    position: relative;
    height: initial;
    min-height: 100vh;
    min-width: 800px;
}

/* HEADER */

.header-bar {
    height: 4.25rem;
    position: relative;
    padding: 0 .375rem 0 1rem;
    border-top: 2px solid #4296c2;
    background: white;
}

.header-logo {
    position: absolute;
    background-color: transparent;
    z-index: 100;
    top: 15px;
    margin-left: -1px;
}

/* TOP BANNER */

#top-banner-bg {
    background-color: rgb(0 36 61);
    background-position-x: 55%;
    height: 170px;
}

.grid-container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.grid-margin-x {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
}

.top-banner-text {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.2rem !important;
    color: white !important;
    text-shadow: 0px 0px 5px #222222 !important;
    line-height: 2.3rem !important;
    margin-left: -1px;
    white-space: nowrap;
    text-transform: none;
    height: 170px;
    margin-left: .9375rem;
    margin-right: .9375rem;
}

.align-justify {
    justify-content: space-between;
}

/* CONTENT PAGE */
#content-wrapper {
    position: relative;
}

#page-content {
    padding: 0 !important;
    margin-bottom: 4rem;
}

.cell {
    min-height: 0px;
    min-width: 0px;
}

.column-3 {
    width: calc(25% - 1.875rem);
}

.column-6 {
    width: calc(50% - 1.875rem);
}

.column-9 {
    width: calc(75% - 1.875rem);
}

.column-12 {
    width: calc(100% - 1.875rem);
}

/* NAVIGATION PANEL */
#page-nav {
    margin-top: .6875rem;
}

/* Buttons */
#page-nav a {
    color: #47484d;
    font-family: "Montserrat";
    font-size: .9rem !important;
    font-weight: 500;
    display: block !important;
    line-height: 1.2rem !important;
    padding: .5rem .5rem .5rem .625rem !important;
    text-decoration: none;
    border: none;
}

#page-nav a:hover {
    background: rgba(0,77,150,0.12);
}

.nav-panel {
    margin: 0 0 2rem 0;
    background-color: rgba(0,77,150,0.06);
    border: 1px solid rgba(0,77,150,.1);
    border-top: 4px solid rgb(0 77 150);
    background-repeat: no-repeat;
    background-position-x: 72px;
    background-position-y: 13px;
    padding-bottom: 4px;
}

.nav-title {
    font-family: "Montserrat";
    font-size: 1.125rem !important;
    font-weight: 700;
    line-height: 1.5rem !important;
    padding: .9375rem 0 0 .625rem;
    text-transform: uppercase;
}

.nav-body li {
    list-style-type: none !important;
    margin-bottom: .5rem;
}

.nav-body {
    padding: 10px 10px !important;
}

.nav-section {
    margin-bottom: .5rem;
}

.nav-name {
    font-family: "Montserrat";
    font-weight: 800 !important;
    font-size: .9rem !important;
    display: block !important;
    line-height: 1.2rem !important;
    padding: .5rem .5rem .5rem .625rem !important;
}

/* FILTER PANEL */
#page-filter {
    margin-top: .6875rem;
}

/* Buttons */
#page-filter a {
    color: #47484d;
    font-family: "Montserrat";
    font-size: .9rem !important;
    font-weight: 500;
    display: block !important;
    line-height: 1.2rem !important;
    padding: .5rem .5rem .5rem .625rem !important;
    text-decoration: none;
    border: none;
}

#page-filter a:hover {
    background: rgba(0,77,150,0.12);
}

.filter-panel {
    margin: 0 0 2rem 0;
    background-color: rgba(0,77,150,0.06);
    border: 1px solid rgba(0,77,150,.1);
    border-top: 4px solid rgb(0 77 150);
    background-repeat: no-repeat;
    background-position-x: 72px;
    background-position-y: 13px;
    padding-bottom: 4px;
}

.filter-title {
    font-family: "Montserrat";
    font-size: 1.125rem !important;
    font-weight: 700;
    line-height: 1.5rem !important;
    padding: .9375rem 0 0 .625rem;
    text-transform: uppercase;
}

.filter-body li {
    list-style-type: none !important;
    margin-bottom: .5rem;
}

.filter-body {
    padding: 10px 10px !important;
}

.filter-section {
    margin-bottom: .5rem;
}

.filter-name {
    font-family: "Montserrat";
    font-weight: 800 !important;
    font-size: .9rem !important;
    display: block !important;
    line-height: 1.2rem !important;
    padding: .5rem .5rem .5rem .625rem !important;
}

.register-button {
    background-color: rgb(0 77 150);
    color: white !important;
    text-align: center;
}

.register-button:hover {
    background-color: rgb(0 40 120) !important;
}

/* BREADCRUMBS */
#breadcrumbs-container {
    padding-top: 1.375rem;
    margin-bottom: .3125rem;
}

.breadcrumbs {
    background-color: white;
    padding: 0.5rem 0 0.35rem .15rem;
    border: none !important;
    margin-bottom: .5rem !important;
    list-style: none;
}

.breadcrumbs li {
    font-size: .875rem !important;
    text-transform: none;
    font-family: "Roboto", Arial, sans-serif !important;
    margin: 0 !important;
    float: left;
    color: #0a0a0a;
    cursor: default;
}

.breadcrumbs li a {
    color: #bc441b !important;
    text-transform: none;
    font-size: .9rem;
    font-family: "Roboto", Arial, sans-serif !important;
    margin: 0 !important;
}

.breadcrumbs li+li:before {
    position: relative;
    margin: 0 .55rem;
    opacity: 1;
    color: #cacaca;
    content: "//";
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

/* PROJECT LIST */
.project-list {
    padding: 20px;
    margin-left: 0;
    background: rgb(247, 247, 247);
    list-style-type: none;
}

.project-item {
    margin-bottom: 40px;
}

.project-item-badges {
    display: flex;
    justify-content: flex-start;
    padding-right: 5px;
}

.project-item-badge {
    padding: 2px 10px 2px 10px;
    font-size: 0.8rem;
    height: 20px;
    color: rgb(0 77 150);
    font-weight: 500;
    margin-right: 10px;
    display: flex;
}

.subject {
    background-color: white;
    border: 2px solid rgb(0 77 150);
}

.projecttype {
    background-color: white;
    border: 2px solid rgb(0 77 150);
}

.project-item-container {
    display: flex;
    margin-top: 15px;
}

.project-item-thumbnail {
    /*width: 150px;*/
    height: 280px;
    margin-right: 20px;
}

.project-item-container h3 {
    margin: 0;
}
.project-item-container p {
    margin-bottom: 1rem;
}

/* CAROUSEL GALLERY */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .carousel-dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }